/*global*/

$font-family-g: 'Galada', cursive;
$font-family-n: 'Roboto', sans-serif;
$color-gold: #fbc531;
$color-lightgrey: #7f8fa6;

body {
	font-family: $font-family-n;
	font-size: 22px;
}
.row {
	margin: 50px 0;
}

/*intro*/

.intro {
        background-image: url('https://imgur.com/S6Vv4qG')
}
.intro img {
        height: 700px;
        width: 100%;
        object-fit: cover;
}
.intro .golden {
	font-family: $font-family-g;
	font-weight: 1;
	font-size: 45px;
}
.navbar ul { 
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
}
.navbar ul li {
	padding: 10px;
}
.intro .middle {
	color: #fff;
	position: absolute;
    	width: 100%;
    	top: 30%;
    	left: 50%;
    	transform: translate(-50%,-50%);	
	text-align: center;
}
.intro .navbar {
	top: 7%;
}
.intro .navbar h1 {
	color: $color-gold;
	text-align: left;
	padding: 0 10px;
}
.intro .maint {
	font-size: 80px;
}
.middle a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	background-color: $color-gold;
	padding: 17px 25px;
	border-radius: 5px;
}
 
/*services*/

.services .container {
	text-align: center;
	padding: 25px;
}
.services .serv-h1 {
	font-weight: 1200;
	font-size: 45px;
}
.services h2 {
	font-size: 18px;
	color: $color-lightgrey;
	font-weight: 100;
}
.services .col-4 p {
	color: $color-lightgrey;
	font-size: 18px;
}
.services .row .fas {
	font-size: 30px;
	padding: 20px;
	color: $color-gold;
	border: 2px solid $color-gold;
	border-radius: 50%;
}

/*portfolio*/

.portfolio .op-h1 {
	font-weight: 1200;
	font-size: 45px;
}
.portfolio h2 {
	font-size: 18px;
        color: $color-lightgrey;
        font-weight: 100;
}
.portfolio {
	padding: 40px;
	text-align: center;
}

.portfolio {
	background: #f5f6fa;
}
.portfolio .row img {
 	height: 50%;
        width: 100%;
        object-fit: cover;
	
} 
.portfolio .col-4 h1 {
	color: black;
	background: #fff;
	padding: 10px;
	margin: 0;
	font-size: 22px;
}
.portfolio .col-4 h2 {
        background: #fff;
        padding: 10px;
        margin: 0;
}

/*footer*/
.footer ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between; 
}
.footer li {
	display: flex;
	padding: 0 20px;
}
.footer .fab {
	color: #fff;
	padding: 10px;
	border: solid;
	border-radius: 50%;
	background: black;
}
.footer .row .col {
	text-align: center;
}
