/*global*/

$font-family-g: 'Galada', cursive;
$font-family-n: 'Roboto', sans-serif;
$color-gold: #fbc531;
$color-lightgrey: #7f8fa6;

body {
	font-family: $font-family-n;
	font-size: 20px;
}
.row {
	margin: 40px 0;
}

/*intro*/

.intro {
        background-image: url('https://imgur.com/S6Vv4qG')
}
.intro img {
        height: 100%;
        width: 100%;
        object-fit: cover;
}
.intro .golden {
	font-family: $font-family-g;
	font-weight: 200;
}
.navbar ul { 
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	color: #fff;
	font-size: 12px;
}
.navbar ul li {
	padding: 10px;
}
.intro .middle {
	color: #fff;
	position: absolute;
    	width: 100%;
    	top: 25%;
    	left: 50%;
    	transform: translate(-50%,-50%);	
	text-align: center;
}
.intro .navbar {
	top: 7%;
}
.intro .navbar h1 {
	color: $color-gold;
	text-align: left;
	padding: 0 10px;
}
.middle .group h1 {
	font-size:22px;
}
.middle .group h2 {
	font-size: 60px;
}
.middle a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	background-color: $color-gold;
	padding: 12px;
	border-radius: 5px;
}
 
/*services*/

.services .container {
	text-align: center;
	padding: 25px;
}
.services h1 {
	size: 17px;
	font-weight: 900;
}
.services h2 {
	font-size: 12px;
	color: $color-lightgrey;
	font-weight: 100;
}
.services .col-4 {
	font-size: 13px;
}
.services .col-4 p {
	color: $color-lightgrey;
}
.services .row .fas {
	font-size: 25px;
	padding: 15px;
	color: $color-gold;
	border: 2px solid $color-gold;
	border-radius: 50%;

}
